.left-sidebar{
    width: 300px;
    box-shadow: 1px 1px 0 rgb(179, 178, 178);
    background-color: white;
    height: auto;
    min-height: 100vh;
    transition: box-shadow ease-in-out 0.1s, transform ease-in-out 0.1s;
    font-size: 13px;
}
.nav-btn{
    background-color: inherit;
    width: 100%;
    border: none;
    padding: 0%;
}
.slide-nav {
    height: auto;
    max-width: 100%;
    position: sticky;
    margin: 5px 0px;
    padding: 5px 0px 20px 120px;
}
.slide-nav-div{
    padding: 10px 0px;
}
.slide-nav-links div{
    padding-left: 10px;
}
.side-nav-links{
    text-decoration: none;
    color: rgb(201, 200, 200);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    transition: 0.2s;
}

.active{
    font-weight: bolder;
    color: black;
    background-color: rgb(255, 255, 255);
    border-right: solid 3px #ef8236;
}
@media screen and (max-width:760px){
    .left-sidebar{
        position: absolute;
        transform: translateX(-100%);
        z-index: 10;
    }
}